<<<<<<< HEAD
body {
  font-family: Roboto, Helvetica, sans-serif;
  margin: 0;
  background-color: #eee;
}

.navbar {
  background-color: #fff;
  font-size: 18px;
  line-height: 22px;
}

.navlist {
  margin: 0 0 0 20px;
  padding: 0;
}

.navitem {
  display: inline-block;
}
=======
.site-title {
  padding: 15px 15px;
  margin: 0;
  font-size: 30px;
  background-color: #80C0CF
}

.navlist {
  margin: 0 0 0 20px;
  padding: 10px;
  font-size: 20px;
}

.navitem {
  display: inline-block;
}

a {
  color: #343434;
  text-decoration: none;
}
>>>>>>> 3b9240850306341546db25836f2757c20b6f50ea
