 html, body {
	font-family: Roboto, Helveica, sans-serif;
	margin: 0;
	background-color: #EAE7DC;
    width: 100%;
    height: 100%;
    margin: 0;
}

.site-title {
	margin: 0;
	padding: 10px 20px;
	font-size: 75px;
	font-weight: 150;
	color: #e85a4f;
}

.how-to-play {
	display: block;
	font-family:  Roboto, Helveica, sans-serif;
	padding: 10px 40px;
	//border: 2px; // solid #8e8d8a;
	background-color: #e98074;
	color: #eae7dc;
}

.grammar-container {
	padding: 10px 40px;
	//width: 150px;
	height: 800px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	float: right;
	background-color: #e98074;
}

#verb-Button {
	padding: 10px 40px;
	//margin: 20px;
	position: fixed;
	right: 50px;
	bottom: 350px;
	width: 75px;
	height: 75px;
}

#noun-Button {
	padding: 10px 40px;
	//margin: 20px;
	position: fixed;
	right: 50px;
	bottom: 300px;
	width: 75px;
	height: 75px;

	//margin: 20px;
	//position: fixed;
	/*width: 75px;
	height: 100px;*/		
}

#pro-Button {
	padding: 10px 40px;
	margin: 20px;
	position: fixed;
	right: 50px;
	bottom: 250px;
	width: 75px;
	height: 75px;
//margin: 20px;
	//position: fixed;
	/*width: 75px;
	height: 75px;*/		
}

#adj-Button { 
	padding: 10px 40px;
	//margin: 20px;
	position: fixed;
	right: 50px;
	bottom: 200px;
	width: 75px;
	height: 75px;
//margin: 20px;
	//position: fixed;
	/*width: 75px;
	height: 50px;	*/	
}

#adv-Button {
	padding: 10px 40px;
	//margin: 20px;
	position: fixed;
	right: 50px;
	bottom: 150px;
	width: 75px;
	height: 75px;
//margin: 20px;
	//position: fixed;
	/*width: 75px;
	height: 50px;*/	
}

a:hover,
a:focus {
  color: #319df6;
}

a:focus {
  outline: none;
}

.navlink a {
  padding: 8px 10px;
  display: inline-block;
}

.navlink.active {
  box-shadow: inset 0 -3px #319df6;
}

a {
    color: #343434;
    text-decoration: none;
}

.header {
    padding: 50px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}

#modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

#verb-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

#noun-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

#adj-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

#pro-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

#adv-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}


.modal-dialog {
  width: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 300px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 15px;
}

.hidden {
  display: none;
}

.modal-header {
  position: relative;
  padding: 10px 20px;
}

.modal-header h3 {
  margin: 0;
  font-size: 28px;
}

.modal-body {
  padding: 20px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
}

.madlib-container {
    padding: 20px;
    background-color: #1abc9c;
}

#starwars-Button {
    padding: 20px;
}

#special-Button {
    padding: 20px;
}
