html{
  height: 100%;
  
}

body{
  position: relative;
  min-height: 100%;
  width: 100%;
  height: 100%
  top: 0px;
  margin: 0;
  	background-color: #EAE7DC;
}

.site-title{
  position: relative;
  margin: 0;
  padding: 10px 20px;
  font-size: 75px;
  font-weight: 150;
  color: #e85a4f;
}
header a{
  text-decoration: none;
}

.how-to-play{
  /* width: 100%; */
  display: block;
	font-family:  Roboto, Helveica, sans-serif;
  margin: 0;
	padding: 10px 20px;
	background-color: #e98074;
	color: #eae7dc;

}

/*---------grammar container-------------*/
.grammar-container{
  height: 100%;
  width: 200px;
  background-color: #e98074;
  position: absolute;
  right: 0px;
  display: block;
  text-align: center;
  padding-top: 8px;
}

.grammar-container button{
    padding: 20px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 16px;
    width: 160px;
    bottom: 0;
    border: 0px;
    border-radius: 20px;
    background-color: #1abc9c;
    font-size: 12pt;
    font-style: normal;
    box-shadow: 3px 3px #000;
}

.grammar-container button:hover{
    background-color: #5699c6;
    padding: 25px;
}

#modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

#verb-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

#noun-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

#adj-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

#pro-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

#adv-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}


.modal-dialog {
  width: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 300px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 15px;
}

.hidden {
  display: none;
}

.modal-header {
  position: relative;
  padding: 10px 20px;
}

.modal-header h3 {
  margin: 0;
  font-size: 28px;
}

.modal-body {
  padding: 20px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
}

.madlib-container {
    background-color: #EAE7DC;
    width: 100%;
}

.madlib-buttons{
  background-color: #1abc9c;
  width: 100%;
  margin: 0;
  padding: 20px;
  text-align: left;
}

#star-wars-text{
  text-align: center;
  background-color: #EAE7DC;
  margin: 0;
  left: 0;
}

.madlib-buttons{
  display: inline-block;
  /* text-align: center; */
}

#starWars-modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1010;
    overflow: scroll;
}

.madlib-buttons button{
    padding: 20px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 16px;
    width: 160px;
    bottom: 0;
    border: 0px;
    border-radius: 20px;
    background-color: #e98074;;
    font-size: 12pt;
    font-style: normal;
    box-shadow: 3px 3px #000;
}

.madlib-buttons button:hover{
    background-color: #5699c6;
    padding: 25px;
}

/* #starWars-Button {
    padding: 20px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 16px;
    width: 160px;
    bottom: 0;
    border: 0px;
    border-radius: 20px;
    background-color: #fdd5b9;
    font-size: 12pt;
    font-style: normal;
    box-shadow: 3px 3px #000;
}

#special-Button {
    padding: 20px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 16px;
    width: 160px;
    bottom: 0;
    border: 0px;
    border-radius: 20px;
    background-color: #fdd5b9;
    font-size: 12pt;
    font-style: normal;
    box-shadow: 3px 3px #000;
} */

#specialModal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1010;
    overflow: scroll;
}

.modal-header h3{
text-align: center;
}

#starWars-modal #star-wars-modal-close-button{
  float: right;
}

.modal-body{
  display: block;
  text-align: center;
}

.input-element{

}

.modal-body label{
  display: inline-flex;
  text-align: center;
  vertical-align: middle;
  width: 80px;
}

.modal-body textarea{
  width: 250px;
}